/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* BODY */
body {
  background: black;
}
/* MAIN */
main {
  background: #f5f0e8;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
/* UTILITIES */
h3 {
  text-transform: uppercase;
  padding: 12px 0;
}
p {
  font-size: 12px;
}
/* TEXT CONTAINER */
.text {
  width: 40%;
  margin: 0 auto;
  padding: 12px;
}
/* CONTAINER CARDS */
.container__teamcard {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 85%;
}
.card {
  background: white;
  margin: 12px;
  padding-bottom: 8px;
}
.card img {
  width: 224px;
  height: 248px;
}
/* CONTAINER INPUT */
.insert {
  padding: 64px;
  width: 40%;
  margin: 0 auto;
  text-align: left;
}
.insert div {
  margin: 12px 0;
}
.insert input {
  width: 100%;
  border-radius: 4px;
  height: 24px;
}
.add__button {
  width: 50%;
  border-radius: 4px;
  height: 24px;
}
